.navBar{
    background-color: #8f8a8a;
    overflow: hidden;
}

.navBar a{
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.navBar a:hover{
    background-color: #ddd;
    color: black;
}

.topnav a.activePage {
    background-color: #e7760c;
    color: white;
}

footer {
    background-color: yellowgreen;
}

body {
    background-color: gray;
}